{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE Edge" />
        <meta name="viewport"
              content="width=device-device-width, initial-scale=1.0"/>
        <title>Multi-shot</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}

                {% endif %}

            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Stay even more on task and further efficiency with our Tracker Pro subscription.
        </footer>
    </body>
</html>
